.explanationText{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    width: 60%;
    color: aliceblue;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.center0{
    display: flex;
    justify-content: center;
    gap: 0;
  }