.badEntryText{
    color: rgba(255, 0, 0, 0.999);
    animation: shake 1s cubic-bezier(.28, .07, .09, .28) both;
    animation-duration: 0.7s;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    font-size: 0.89em;
    /* border-color: black; */
}

@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }